[submodule "aibogdan-front"]
	path = aibogdan-front
	url = https://github.com/bogsaff/aibogdan-front.git
[submodule "aibogdan-api"]
	path = aibogdan-api
	url = https://github.com/bogsaff/aibogdan-api.git
